@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	direction: rtl;
}

@layer base {
	@font-face {
		font-family: 'Dana'; /* 400 */
		src: local('Dana'), url('../fonts/Dana/woff2/DanaFaNum-Regular.woff2') format('woff2');
		font-display: swap;
	}

	@font-face {
		font-family: 'Dana Medium'; /* 500 */
		src: local('Dana Medium'), url('../fonts/Dana/woff2/DanaFaNum-Medium.woff2') format('woff2');
		font-display: swap;
	}

	@font-face {
		font-family: 'Dana DemiBold'; /* 600 */
		src: local('Dana DemiBold'), url('../fonts/Dana/woff2/DanaFaNum-DemiBold.woff2') format('woff2');
		font-display: swap;
	}

	@font-face {
		font-family: 'Morabba Light';
		src: local('Morabba Light'), url('../fonts/Morabba/woff2/Morabba-Light.woff2') format('woff2');
		font-display: swap;
	}

	@font-face {
		font-family: 'Morabba Medium';
		src: local('Morabba Medium'), url('../fonts/Morabba/woff2/Morabba-Medium.woff2') format('woff2');
		font-display: swap;
	}

	@font-face {
		font-family: 'Morabba Bold';
		src: local('Morabba Bold'), url('../fonts/Morabba/woff2/Morabba-Bold.woff2') format('woff2');
		font-display: swap;
	}
}

@layer component {
	.submenu {
		@apply mt-3 hidden flex-col gap-y-3 pr-7 text-sm text-zinc-600 dark:text-white;
	}

	.submenu--open {
		display: flex !important;
	}

	.submenu__item--active {
		position: relative;
		padding-right: 10px;
		color: #fdba74 !important;
	}

	.submenu__item--active::after {
		content: '';
		display: block;
		width: 4px;
		height: 4px;
		border-radius: 100px;
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		background-color: #fdba74;
	}

	.overlay {
		@apply invisible fixed inset-0 z-10 h-full w-full bg-black/40 opacity-0 transition-all md:hidden;
	}

	.overlay--visible {
		@apply visible opacity-100;
	}

	.category-banner__item1 {
		background: linear-gradient(270deg, rgba(0, 0, 0, 0.6) 33.85%, rgba(243, 244, 246, 0.1) 100%),
			url('../images/categories/category-left.jpg');
		background-size: cover;
	}

	.category-banner__item2 {
		background: linear-gradient(270deg, rgba(0, 0, 0, 0.6) 33.85%, rgba(243, 244, 246, 0.1) 100%),
			url('../images/categories/category-right.jpg');
		background-size: cover;
	}

	.swiper-button-next-custom,
	.swiper-button-prev-custom {
		@apply flex-center h-9 w-9 cursor-pointer rounded-full bg-white text-zinc-700 shadow-normal transition-all hover:bg-gray-300 dark:bg-zinc-700 dark:text-white dark:hover:bg-white dark:hover:text-zinc-700 md:h-10 md:w-10;
	}

	.services {
		@apply relative;
	}

	.services::after,
	.services::before {
		content: '';
		display: block;
		position: absolute;
		inset: 0;
		margin: auto;
		background-color: #d1d5db;
	}

	@media screen and (min-width: 640px) {
		html.dark .services::after,
		html.dark .services::before {
			content: none;
		}

		.services::after,
		.services::before {
			content: none;
		}
	}

	html.dark .services::after,
	html.dark .services::before {
		background-color: rgba(255, 255, 255, 0.1);
	}

	.services::after {
		width: 1px;
		height: calc(100% + 1.25rem);
	}
	.services::before {
		width: calc(100% - 2rem);
		height: 1px;
	}
}

@layer utilities {
	.flex-center {
		@apply flex items-center justify-center;
	}
}
